* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    cursor: default;
    max-width: 1440px;
    background: #181818;
    /* background-image: linear-gradient(to left, #6353F6, #6353F6 60%, #181818 40%, #181818); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    height: 100vh;
}

.contentHome {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2em;
	padding: 2em 4em;
}


.link a {
	display: inline-block;
	color:rgba(255,255,255,0.8);
	position: relative;
	padding-bottom: 0px;
	transition:.35s;
	text-decoration: none;      
	border-bottom: 1px solid rgba(255,255,255, 0);
}

.link a:hover {
	transition:.35s;
	color:rgba(255,255,255,1.0);
}

.link a:active {
	transition:.35s;
	color:rgba(255,255,255,0.6);
}

.link a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 1px;
	width: 0;
	-webkit-transition: width .5s ease, background-color .25s ease;
	-moz-transition: width .5s ease, background-color .25s ease;
	-o-transition: width .5s ease, background-color .25s ease;
	transition: width .5s ease, background-color .25s ease;
}

.link a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 1px;
	width: 0;
	background-color: rgba(255,255,255,0.6);
	color: rgba(255,255,255,1.0);
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;
}

.link a:hover:after {
	width:100%;
	left: 0;
}

.logo {
	grid-column: 1 / span 4;
}

nav {
	grid-column: span 6;
}

header {
	grid-column: 9 / span 12;
    padding: 20px;
}

.self-portrait {
    grid-column: 1 / span 4
}

.location-pic {
    margin-top: 6em;
    margin-bottom: 0;
}

.typo-name {
    position: absolute;
    margin-top: 10em;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}


.image-container2 {
    position: absolute;
    background-image: url("../images/newestpic.png");
    background-repeat: no-repeat;
    min-width: 800px;
    height: 100vh;
}

header h2 {
	font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    font-weight: 300;
    color: rgba(255,255,255,1.0);
    letter-spacing: -0.1em;
    margin-top: .1em;
    margin-bottom: .1em;
    transition:.35s;
}

header h1 {
	font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 4em;
    font-weight: 600;
    color: rgba(255,255,255,1.0);
    letter-spacing: -0.1em;
    margin-top: .2em;
    margin-bottom: .2em;
    transition:.35s;
}

header p {
	font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    font-weight: 300;
    color: rgba(255,255,255,1.0);
    letter-spacing: -0.1em;
    margin-top: .1em;
    margin-bottom: .1em;
    transition:.35s;
}

.logo {
	float: left;
	margin: 0;
	height: 1.5em;
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: 400;
    color: rgba(255,255,255, 1.0);
    letter-spacing: 0.02em;
}

#navigation {
	float: left;
	display: block;
	padding: .75em 0;
	height:1.5em;
    background: #4A0084;
    border-radius: 20em;
}

#navigation a {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin-right: 2.5em;
    margin-left: 2.5em;
}